[Desktop Entry]
Name=Content App
Type=Application
Comment=A description about a Content App
Exec=org.test.ContentApp
Version=1.0
Icon=org.test.ContentApp
X-Endless-Content-Language=en
NoDisplay=false
