[Desktop Entry]
Name=Video App
Type=Application
Comment=A description about a Video App
Exec=org.test.VideoApp
Version=1.0
Icon=org.test.VideoApp
X-Endless-Content-Language=en
NoDisplay=false
