[Desktop Entry]
Version=1.0
Icon=com.endlessm.test_with_martin.en
Type=Application
Exec=com.endlessm.test_with_martin.en
DBusActivatable=true
StartupNotify=true
NoDisplay=false
Name=SDK2 Test
X-Endless-Content-Language=en
X-Flatpak=com.endlessm.test_with_martin.en
