[Unit]
Description=EOS Companion App Service
After=network.target
ConditionPathExists=/etc/avahi/services/companion-app.service

[Service]
ExecStart=/usr/bin/flatpak run --no-desktop com.endlessm.CompanionAppService
User=companion-app-helper
PrivateTmp=yes
SystemCallArchitectures=native
