[Unit]
Description=EOS Companion App Service
Wants=network.target
ConditionPathExists=/etc/avahi/services/companion-app.service

[Socket]
ListenStream=1110

[Install]
WantedBy=graphical.target
