[Unit]
Description=EOS Companion App Service
After=network.target
ConditionPathExists=/etc/avahi/services/companion-app.service

[Service]
ExecStart=/usr/bin/dbus-run-session /usr/bin/flatpak run --no-desktop --no-a11y-bus com.endlessm.CompanionAppService
User=companion-app-helper
PrivateTmp=yes
SystemCallArchitectures=native
Environment="XDG_RUNTIME_DIR=/tmp/run"
Environment="XDG_DATA_DIRS=/var/lib/flatpak/exports/share:/var/endless-extra/flatpak/exports/share"
